<div class="entitiesWrap">
    <div class="buttonsBox">
        <div class="buttons">
            <button onclick="goToAddRewardView()">Add</button>
            <button onclick="goToRewardChangeView()">Change</button>
            <button onclick="removeReward()">Remove</button>
        </div>
    </div>
    <div class="entitiesViewBox">
        <div class="entitiesView">
            <h3>All rewards</h3>
            <select size="5" id="rewardsList" onchange="changeSelectedReward()" class="entitiesViewSelect">

                @foreach (var reward in Model)
                {
                    var str = new System.Text.StringBuilder();
                    str.Append(reward.Id + " " + reward.Name + " ");
                    if (reward.Description.Length < 50)
                    {
                        str.Append(reward.Description);
                    }
                    else
                    {
                        str.Append(reward.Description.Substring(0, 47) + "...");
                    }
                    <option value="@reward.Id">
                        @str.ToString()
                    </option>
                }
            </select>
        </div>
    </div>
    <div class="entitiesInformationBox">
        <div class="entitiesInformation" id="rewardInformationContainer"></div>
        @foreach (var reward in Model)
        {
            <div id="@reward.Id" style="display: none">
                <p class="firstLineInformation">@reward.Name</p>
                <p class="information">@reward.Description</p>
            </div>
        }
    </div>
</div>
<script>
    var rewardsList = document.getElementById('rewardsList'),
        selectedRewardId,
        rewardInformationContainer = document.getElementById('rewardInformationContainer');

    function changeSelectedReward() {
        var index = rewardsList.options.selectedIndex;
        selectedRewardId = rewardsList.options[index].value;

        var selectedRewardInformation = document.getElementById(selectedRewardId).innerHTML;
        rewardInformationContainer.innerHTML = selectedRewardInformation;
    }
    function goToAddRewardView() {
        location.href = "/Rewards/AddReward";
    }
    function goToRewardChangeView() {
        location.href = "/Rewards/ChangeReward?selectedRewardId=" + selectedRewardId;
    }
    function removeReward() {
        var isOK = confirm("Reward will be removed.")
        if (isOK) {
            location.href = "/Rewards/RemoveReward?selectedRewardId=" + selectedRewardId;
        }
    }
</script>