<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <table class="layout" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td colspan="3" class="headCell">
                <table>
                    <tr>
                        <td>
                            <a href="@Url.Action("Index", "Home")"><img src="~/img/HomeButton.jpg"/></a>
                        </td>
                        <td>
                            <div class="navigation">
                                @Html.ActionLink("Users", "Index", "Users")
                                @Html.ActionLink("Rewards", "Index", "Rewards")
                            </div>
                        </td>
                    </tr>
                </table>
        </tr>
        <tr>
            <td class="container">
                <div>
                    @RenderBody()
                </div>
            </td>
        </tr>
    </table>
    
</body>
</html>
