@model Shinkarev_Dmitriy_Task19.Data.Models.User

<form asp-controller="Users" asp-action="ChangeUser">
    <input type="hidden" asp-for="Id" />
    <div class="entitiesFormWrap">
        <div class="inputProperties">
            <h2>Change user</h2>
            <div class="inputBox">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" />
                <span asp-validation-for="FirstName"></span>
            </div>
            <div class="inputBox">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" />
                <span asp-validation-for="LastName"></span>
            </div>
            <div class="inputBox">
                <label asp-for="BirthDate"></label>
                <input asp-for="BirthDate"
                       min="@DateTime.Now.AddYears(-150).ToString("yyyy-MM-dd")" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="BirthDate"></span>
            </div>
            <div class="inputBox">
                <label>Rewards:</label>
                <div class="rewardCheckBoxes">

                    @foreach (var rewardChecker in ViewBag.RewardChecker)
                    {
                        @if (rewardChecker.Value == true)
                        {
                            <label>
                                <input type="checkbox"
                                       value="@rewardChecker.Key.Id"
                                       name="chekedRewardsId[]"
                                       checked />

                                @rewardChecker.Key.Name

                            </label>
                        }
                        else
                        {
                            <label>
                                <input type="checkbox"
                                       value="@rewardChecker.Key.Id"
                                       name="chekedRewardsId[]" />

                                @rewardChecker.Key.Name

                            </label>
                        }

                    }
                </div>
            </div>
            <div class="inputBox">
                <button type="submit">Change</button>
                <button type="button" onclick="location.href ='/Users'">Cancel</button>
            </div>
        </div>
    </div>
    <script>

        function changeUserCheckValid() {
            var firstName = document.getElementById("changedUserFirstName"),
                lastName = document.getElementById("changedUserLastName"),
                changeButton = document.getElementById("changeButton"),
                uncorrectInputMessageBox = document.getElementById("uncorrectInputUserChange"),
                isValidSymbolsRegex = /^(([A-я]+|[^\W0-9_]))$/,
                isValid = true;

            changeButton.disabled = false;

            if (isValidSymbolsRegex.test(firstName.value) &&
                isValidSymbolsRegex.test(lastName.value)) {
                isValid = true;
                uncorrectInputMessageBox.style.visibility = "hidden";
            }
            else {
                isValid = false;
                uncorrectInputMessageBox.style.visibility = "visible";
            }



            if (isValid == false) {
                changeButton.disabled = true;
            }
        }

    </script>
</form>