<div class="entitiesWrap">
    <div class="buttonsBox">
        <div class="buttons">
            <button onclick="goToAddUserView()">Add</button>
            <button onclick="goToUserChangeView()">Change</button>
            <button onclick="removeUser()">Remove</button>
            <button onclick="goToRewardUserView()">Reward</button>
        </div>
    </div>
    <div class="entitiesViewBox">
        <div class="entitiesView">
            <h3>All users</h3>
            <select size="5" id="usersList" onchange="changeSelectedUser()" class="entitiesViewSelect">

                @foreach (var user in Model)
                {
                    string row = $"{user.Id}\t{user.FirstName}\t{user.LastName}\t{user.BirthDate.ToString("dd-MM-yyyy")}\t{user.Age} years old";

                <option value="@user.Id">
                    @row
                </option>
                }
            </select>
        </div>
    </div>
    <div class="entitiesInformationBox">
        <div class="entitiesInformation" id="userInformationContainer"></div>
        @foreach (var user in Model)
        {
            <div id="@user.Id" style="display: none">
                <p class="secondLineInformation">@user.FirstName</p>
                <p class="firstLineInformation">@user.LastName</p>
                <p class="information">@user.BirthDate.ToString("dd-MM-yyyy")</p>
                <p class="information">@user.Age years old</p>
                <select size="6" class="information">
                        @foreach (var reward in user.Rewards)
                        {
                            <option disabled>@reward.Name</option>
                        }
                </select>
            </div>
        }
    </div>
</div>

<script>
    var usersList = document.getElementById('usersList'),
        selectedUserId,
        userInformationContainer = document.getElementById('userInformationContainer');

    function changeSelectedUser() {
        var index = usersList.options.selectedIndex;
        selectedUserId = usersList.options[index].value;

        var selectedUserInformation = document.getElementById(selectedUserId).innerHTML;
        userInformationContainer.innerHTML = selectedUserInformation;
    }

    function goToUserChangeView() {
        location.href = '/Users/ChangeUser?selectedUserId=' + selectedUserId;
    }

    function goToAddUserView() {
        location.href = '/Users/AddUser';
    }

    function removeUser() {
        var isOK = confirm("User will be removed.")
        if (isOK) {
            location.href = '/Users/RemoveUser?selectedUserId=' + selectedUserId;
        }
    }

    function goToRewardUserView() {
        location.href = '/Users/RewardUser?selectedUserId=' + selectedUserId;
    }
</script>

