@model User

<form method="post" id="rewardUserForm">
    <input type="hidden" name="selectedRewardId" id="selectedRewardId" />
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Rewards" />

    <div class="entitiesFormWrap">
        <div class="inputProperties">
            <h2>Revard @Model.FirstName @Model.LastName</h2>
            <div class="inputBox">
                <select id="availableRewardsList" name="rewardId" onchange="changeSelectedAvailableReward()">

                    @{
                        if (ViewBag.AvailableRewards.Count > 0)
                        {
                            foreach (var reward in ViewBag.AvailableRewards)
                            {
                                <option value="@reward.Id">
                                    @reward.Name
                                </option>
                            }
                        }
                        else
                        {
                            <option>
                                no rewards available
                            </option>
                        }
                    }
                </select>
            </div>
            @if (ViewBag.AvailableRewards.Count > 0)
            {
                <div id="rewardInformationContainer" class="rewardInformationContainer">@ViewBag.AvailableRewards[0].Description</div>
                foreach (var reward in ViewBag.AvailableRewards)
                {
                    <div id="@reward.Id" style="display: none">@reward.Description</div>
                }
                <div class="inputBox">
                    <button type="submit">Reward</button>
                    <button type="button" onclick="location.href = '/Users'">Cancel</button>
                </div>

            }
            else
            {
                <div class="inputBox">
                    <button type="submit" disabled>Reward</button>
                    <button type="button" onclick="location.href = '/Users'">Cancel</button>
                </div>

            }

        </div>

    </div>

    <script>
        var list = document.getElementById('availableRewardsList'),
            selectedId = document.getElementById('selectedRewardId'),
            informationContainer = document.getElementById('rewardInformationContainer');

        function changeSelectedAvailableReward() {
            var index = list.options.selectedIndex;
            selectedId = list.options[index].value;

            var information = document.getElementById(selectedId).innerHTML;
            informationContainer.innerHTML = information;
        }
    </script>
</form>
